* {
    box-sizing:border-box;
}

html,body,.App,#root,.application,.side-area, .side-nav, .category-title, .category__item, .category-list, .category-list-inner, .category-list__item, .category-list-wrapper {
    min-height:100%;
    height:100%; 
}

body {
  display: -webkit-flex;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

/*header,
footer {
    width: 100%;
    padding: 2% 0;
    font-size: 1.2rem;
    color: #fff;
}

header {
    background: #727171;
}

footer {
    background: #727171;
}
*/

.application {
  display: flex;
  flex: 1;
}

.content {
    overflow: auto;
}

.side-nav{ 
    box-sizing: border-box;
    width: 15%;
    background: #215968;
    color:white;
}
.side-area{
    /*width: 15%;　ここの横幅はページごとに指定する*/
    text-align: center;
}



/*ナビゲーションエリア*/
.logo{
    width: 100%;
    height: 4ex;
    background: #215968;
    color:white;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 1ex;
}

.category-list-wrapper {
    box-sizing: border-box;
}
.category-list {
    list-style: none;
    padding-inline-start:0;
}
.category-list a {
    color: white;
    text-decoration: none;
}


.category-list__item{
    display: flex;
    text-align:left;
}

.category-list__item__name:hover {
    color: rgb(233, 205, 83);
}

.category-list-inner {
    list-style: none;
    padding-inline-start:0;
}

.category-title, .category__item {
    width: 100%;
    padding-left: 10%;
    margin-top: 1em;
}

.category-title {
    background: #215968;
}

.category__item {
    background: #31859C;
}
.category-title span {
    font-weight: bold;
    width: 100%;
}


.category__item span {
    font-weight: bold;
    font-size:0.75em;
}